
<section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">

        </div>
        <div class="pull-left info">
            <p><label text="Smartex"></label> </p>
            @*<a href="#"><i class="fa fa-circle text-success"></i> Online</a>*@
        </div>
    </div>


    <div class="input-group">

    </div>

    <ul class="sidebar-menu tree" data-widget="tree">
        


        <li class="treeview-menu">
            <a href="#">
                <i class="fa fa-laptop">
                </i>
                <span>Smartex (Smart Product and Smart business)</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href=@Url.Action("Index", "Home")>
                        <i class="fa fa-edit"></i>Home
                    </a>
                </li>
                
                <li>
                    <a href="#">
                        <i class="fa fa-laptop">
                        </i>
                        <span>Master</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left"></i>
                        </span>
                    </a>
                <li>
                    <a href=@Url.Action("Index", "Designation/GetAllDesignation")>
                        <i class="fa fa-edit"></i>Designation
                    </a>
                    </li><li>
                    <a href=@Url.Action("Index", "Task/GetAllTask")>
                        <i class="fa fa-edit"></i>Task/Project
                        </a>
                </li>
                    </a>
                </li>
        
            </ul>
        </li>





    </ul>


    </section>