
@{
    ViewBag.Title = "Welcome";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <div>
        @ViewBag.Msg
    </div>
</body>
</html><h3 style="text-align:justify">Welcome to Prject/Task Management System</h3>

